body {
  display: flex;
  flex-direction: column;
}
html,
body {
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  font-family: Lato;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 0px;
  height: 0;
  margin: 0;
  left: -99999px;
  visibility: hidden;
}
.wrap {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
  color: #ffffff;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
.header-nav-item {
  color: #e8e8e8;
  background-color: #222222;
  border: none;
  margin-left: 32px;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
.search {
  color: #e8e8e8;
  background-color: #222222;
  border: none;
  margin-left: 41px;
  padding: 0;
}

.menu-img {
  color: #e8e8e8;
  background-color: #222222;
}
.main {
  flex-grow: 2;
}
.promo {
  min-height: 764px;
  background-color: #f1e4e6;
}
.promo-wrap {
  background-image: url(../images/promo.svg);
  background-repeat: no-repeat;
  min-height: 764px;
  background-position: calc(-225px);
  background-position-y: 5px;
  background-size: 73%;
  position: relative;
}

.promo-title {
  position: absolute;
  top: 38%;
  left: 55%;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}
.font-13-400 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.font-14-300 {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.font-14-700 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.font-14-400 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.font-16-300 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}
.font-16-400 {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.font-16-400 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: left;
}
.font-18-400 {
  font-size: 18px;
  font-weight: 400;
}
.font-20-400 {
  font-size: 20px;
  line-height: 24px;
}
.font-24-700 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
.font-24-400 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.font-32px-900 {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}
.font-32px-400 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.font-48px-900 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
.italic {
  font-style: italic;
}
.pink {
  color: #f16d7f;
}

.white {
  color: #ffffff;
}
.white-1 {
  color: #fbfbfb;
}

.grey {
  color: #9f9f9f;
}
.grey-1 {
  color: #6f6e6e;
}
.grey-2 {
  color: #c4c4c4;
}
.black {
  color: #222222;
}
.black-1 {
  color: #000000;
}
.black-3 {
  color: #222224;
}

.categories {
  margin-bottom: 90px;
  margin-top: 65px;
}
.categories-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.block-pos {
  background-color: #222224;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 260px;
}
.block-1 {
  background-image: url(../images/for_women.jpg);
}
.block-2 {
  background-image: url(../images/for_men.jpg);
}
.block-3 {
  background-image: url(../images/for_kids.jpg);
}
.block-4 {
  background-image: url(../images/accesories.jpg);
  background-repeat: no-repeat;
  flex-grow: 1;
  height: 180px;
}
/* расположение текста на категориях с помощью flex
*/
.offer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* расположение текста на категориях с помощью position: relative-absolute
 .position-text {
  position: relative;
}
.offer-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */
.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 109px;
  gap: 30px;
}
.catalog-text {
  flex-basis: 100%;
  text-align: center;
}
.catalog-title {
  margin-bottom: 6px;
}
.catalog-slogan {
  margin-bottom: 8px;
}
.item {
  width: 360px;
  background-color: #f3eeef;
}
.item-img {
  background-color: #f3eeef;
  height: 420px;
  transform: translate(50%) scale(0.95);
}
.item-text {
  padding: 25px 30px 20px 16px;
  background: #f8f8f8;
  margin-top: -3px;
}
.item-title {
  margin-bottom: 13px;
}
.item-description {
  margin-bottom: 18px;
  color: #5d5d5d;
}

.button-browse {
  padding: 14px 38px;
  margin-top: 48px;
  color: #ffffff;
  background-color: #f16d7f;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
.button-browse:hover {
  background-color: #ffffff;
  color: #f16d7f;
  outline: 1px solid #f16d7f;
}

.benefits {
  background-color: #222224;
  padding: 103px 0;
}
.benefits-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits-section {
  display: flex;
  background-repeat: no-repeat;
  background-position: top center;
  align-items: flex-end;
  width: 360px;
  height: 134px;
  padding: 0 30px;
}
.img-1 {
  background-image: url(../images/delivery.svg);
}
.img-2 {
  background-image: url(../images/sale.svg);
}
.img-3 {
  background-image: url(../images/quality.svg);
}

.benefits-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.benefits-desc {
  opacity: 0.7;
}
.feedback {
  background-image: url(../images/feedback.jpg);
  height: 448px;
  background-repeat: no-repeat;
  background-size: cover;
}
.feedback-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.feedback-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  flex-basis: 32%;
}
.quote-img {
  align-self: center;
  margin-bottom: 30px;
}
.quote-text {
  text-align: center;
}
.feedback-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  flex-basis: 38%;
}
.feedback-title {
  margin-bottom: 27px;
}
.feedback-input {
  padding: 20px;
  width: 256px;
  border-radius: 25px 0 0 25px;
  background-color: #e1e1e1;
  outline: none;
  border: none;
}

input::placeholder {
  color: #222224;
  opacity: 0.67;
}
.feedback-submit {
  padding: 20px;
  border-radius: 0 25px 25px 0;
  background-color: #f16d7f;
  outline: none;
  border: none;
  margin-left: -3px;
}
.footer {
  background-color: #222222;
  height: 79px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.footer-col-2 {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.icon-block {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #222222;
}
.icon-block:hover {
  background-color: #f16d7f;
}

.icon-block:hover .icon {
  fill: #f8f8f8;
  color: #e8e8e8;
}

/* стрица каталога */

.breadcrumbs {
  background-color: #f8f3f4;
}
.breadcrumbs-wrap {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumbs-list {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  list-style: none;
}
.breadcrumbs-list a {
  color: #636363;
  margin-left: 6px;
}
.breadcrumbs-link:last-child > a {
  color: #f16d7f;
}
.breadcrumbs-link:not(:first-child):before {
  content: "/ ";
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  flex-basis: 100%;
  margin-right: 34.3%;
  padding: 40px 0 10px 0;
}
.filter {
  border: none;
  background-color: white;
  padding: 12px 12px 12px 18px;
}
.filter-col-1 {
  flex-grow: 1;
}
.filter-col-2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  margin-right: 4.5%;
}
.arrow-down {
  margin-left: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.filter-list {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 0;
}
.pagination-nav {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 16px;
}
.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
}
.pagination-link:nth-child(21) {
  margin-left: -12px;
}
.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.pagination-list a {
  color: #c4c4c4;
  display: block;
  flex-basis: 15%;
}
.pagination-list a:hover {
  color: #f16d7f;
}
.pagination-link:not(:nth-child(n + 21)):nth-child(n + 8) {
  position: absolute;
  visibility: hidden;
}

.pagination-link:nth-child(7)::after {
  content: ".....";
  color: #c4c4c4;
}
