@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Lato;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html,
body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #222222;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 0px;
  height: 0;
  margin: 0;
  left: -99999px;
  visibility: hidden;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

.font-11-300 {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.font-13-400 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.font-13-300 {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.font-14-700 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.font-14-400 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.font-16-300 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}

.font-16-400 {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.font-16-400 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: left;
}

.font-18-400 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.font-20-400 {
  font-size: 20px;
  line-height: 24px;
}

.font-22-400 {
  font-size: 22px;
  line-height: 26px;
}

.font-24-700 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.font-24-400 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.font-24-300 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.font-32-900 {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
}

.font-32-400 {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}

.font-48-900 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.italic {
  font-style: italic;
}

.pink {
  color: #f16d7f;
}

.white {
  color: #ffffff;
}

.white-1 {
  color: #fbfbfb;
}

.grey {
  color: #9f9f9f;
}

.grey-1 {
  color: #6f6e6e;
}

.grey-2 {
  color: #c4c4c4;
}

.black {
  color: #222222;
}

.black-1 {
  color: #000000;
}

.black-3 {
  color: #222224;
}

.header {
  background-color: #222222;
  color: #ffffff;
  position: relative;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.logo svg {
  -webkit-animation: pulsing 2s infinite alternate;
          animation: pulsing 2s infinite alternate;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.logo svg:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.85, 0.85);
            transform: scale(0.85, 0.85);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.85, 0.85);
            transform: scale(0.85, 0.85);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
  }
}

.search {
  color: #e8e8e8;
  background-color: #222222;
  border: none;
  margin-left: 41px;
  padding: 0;
  fill: #fff;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.search:hover {
  -webkit-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
  fill: url(#grad--linear-1);
  font-weight: 900;
}

stop {
  -webkit-animation: colors 12s infinite;
          animation: colors 12s infinite;
}

.stop-2 {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

.stop-3 {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes colors {
  15% {
    stop-color: #fa51f3;
  }
  30% {
    stop-color: #f87dc7;
  }
  45% {
    stop-color: #f3d56f;
  }
  60% {
    stop-color: yellowgreen;
  }
  75% {
    stop-color: #acdbb4;
  }
  90% {
    stop-color: #6de1f1;
  }
}

@keyframes colors {
  15% {
    stop-color: #fa51f3;
  }
  30% {
    stop-color: #f87dc7;
  }
  45% {
    stop-color: #f3d56f;
  }
  60% {
    stop-color: yellowgreen;
  }
  75% {
    stop-color: #acdbb4;
  }
  90% {
    stop-color: #6de1f1;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header-nav-item {
  color: #e8e8e8;
  background-color: #222222;
  border: none;
  margin-left: 32px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  fill: #ffffff;
}

.header-nav-item button {
  background-color: #222222;
  border: none;
}

.header-nav-item svg {
  fill: #ffffff;
}

.header-nav-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-nav-item:hover svg {
  fill: url(#grad--linear-1);
}

.icon-burger-img {
  color: #e8e8e8;
  background-color: #222222;
}

.main-nav {
  background-color: #ffff;
  top: 77px;
  right: 0;
  height: 764px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  z-index: 3;
  display: none;
}

.main-nav-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-weight: 900;
}

.main-nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 24px;
  width: 232px;
  padding: 37px 0 0 35px;
  position: relative;
}

.main-nav-close {
  position: absolute;
  right: 17px;
  top: 16px;
  background-color: transparent;
  border: none;
}

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 23px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.main-nav-open {
  display: block;
}

.summenu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
  padding-left: 20px;
  padding-top: 20px;
}

.main {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.promo {
  min-height: 764px;
  background-color: #f1e4e6;
}

.promo-wrap {
  background-image: url(../images/promo.svg);
  background-repeat: no-repeat;
  min-height: 764px;
  background-position: calc(-225px);
  background-position-y: 5px;
  background-size: 73%;
  position: relative;
}

.promo-title {
  position: absolute;
  top: 38%;
  left: 55%;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  z-index: 1;
}

.categories {
  margin-bottom: 90px;
  margin-top: 65px;
}

.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.block-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222224;
  width: 360px;
  height: 260px;
}

.block-1 {
  background-image: url(../images/for_women.jpg);
}

.block-2 {
  background-image: url(../images/for_men.jpg);
}

.block-3 {
  background-image: url(../images/for_kids.jpg);
}

.block-4 {
  background-image: url(../images/accesories.jpg);
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 180px;
}

.offer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* расположение текста на категориях с помощью position: relative-absolute
   .position-text {
    position: relative;
  }
  .offer-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  } */
.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 109px;
  gap: 30px;
}

.catalog-text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.catalog-title {
  margin-bottom: 6px;
}

.catalog-slogan {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
}

.item {
  position: relative;
  width: 360px;
  overflow: hidden;
  background-color: #f3eeef;
}

.item-img {
  background-color: #f3eeef;
  height: 420px;
  -webkit-transform: translate(50%) scale(0.95);
          transform: translate(50%) scale(0.95);
}

.item-text {
  position: relative;
  padding: 25px 30px 20px 16px;
  background: #f8f8f8;
  margin-top: -3px;
  overflow: hidden;
  z-index: 1;
}

.item-title {
  margin-bottom: 13px;
}

.item-title:before {
  content: url("../images/logo.svg");
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 2px;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.item-title:after {
  content: url("../images/logo.svg");
  height: 20px;
  width: 20px;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

.item-title:before, .item-title:after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.item-title:hover::before, .item-title:hover::after, .item-title:hover {
  color: #f16d7f;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.item-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 18px;
  color: #5d5d5d;
}

.item-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 420px;
  width: 360px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 0;
  top: 100%;
  z-index: 1;
}

.item:hover .item-overlay {
  top: 0;
  opacity: 1;
}

.bounce {
  -webkit-transition-timing-function: cubic-bezier(0, 0.75, 0.46, 1.01);
          transition-timing-function: cubic-bezier(0, 0.75, 0.46, 1.01);
}

.btn-add {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 11px 13px;
  vertical-align: middle;
}

.btn-add img {
  margin-right: 11px;
}

.btn-add:hover {
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}

.button-browse {
  margin-top: 48px;
  color: #f16d7f;
  background-color: transparent;
  outline: 1px solid #f16d7f;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button-browse a {
  display: block;
  padding: 14px 38px;
}

.button-browse:hover {
  outline: 1px solid #f16d7f;
  border-radius: 10px;
  background: #913ffb;
  background: radial-gradient(circle, #913ffb 0%, #f16d7f 100%);
  outline: none;
}

.button-browse:hover a {
  color: #ffffff;
}

.benefits {
  background-color: #222224;
  padding: 103px 0;
}

.benefits-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 360px;
  height: 134px;
  padding: 0 30px;
}

.benefits-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.benefits-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.7;
}

.img-1 {
  background-image: url(../images/delivery.svg);
}

.img-2 {
  background-image: url(../images/sale.svg);
}

.img-3 {
  background-image: url(../images/quality.svg);
}

.feedback {
  background-image: url(../images/feedback.jpg);
  height: 448px;
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.feedback-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.feedback-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 35px;
  -ms-flex-preferred-size: 38%;
      flex-basis: 38%;
}

.feedback-title {
  margin-bottom: 27px;
}

.feedback-input {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 20px;
  width: 256px;
  border-radius: 25px 0 0 25px;
  background-color: #e1e1e1;
  outline: none;
  border: none;
}

.feedback-submit {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 20px;
  border-radius: 0 25px 25px 0;
  background-color: #f16d7f;
  outline: none;
  border: none;
  margin-left: -3px;
  cursor: pointer;
}

.feedback-submit:hover {
  -webkit-animation: gradient 4s ease infinite;
          animation: gradient 4s ease infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.quote-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 30px;
}

.quote-text {
  text-align: center;
}

input::-webkit-input-placeholder {
  color: #222224;
  opacity: 0.67;
}

input:-ms-input-placeholder {
  color: #222224;
  opacity: 0.67;
}

input::-ms-input-placeholder {
  color: #222224;
  opacity: 0.67;
}

input::placeholder {
  color: #222224;
  opacity: 0.67;
}

.footer {
  background-color: #222222;
  height: 79px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.icon-block {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #222222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon-block:hover {
  background-color: #f16d7f;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.icon-block:hover .icon {
  fill: #f8f8f8;
  color: #e8e8e8;
}

/* стрица каталога */
.breadcrumbs {
  background-color: #f8f3f4;
}

.breadcrumbs-wrap {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  list-style: none;
}

.breadcrumbs-list a {
  color: #636363;
  margin-left: 6px;
}

.breadcrumbs-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.breadcrumbs-link a:hover {
  color: #f16d7f;
  text-decoration: underline;
}

.breadcrumbs-link:last-child > a {
  color: #f16d7f;
}

.breadcrumbs-link:not(:first-child):before {
  content: "/ ";
}

.catalog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 37px 0 20px 0;
}

.filter-col-1 {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter {
  border: none;
  background-color: white;
  outline: #23d5ab;
}

.filter-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 16px 13px 17px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter[open] .filter-title {
  background-color: #fff;
  position: relative;
  z-index: 3;
}

.filter-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 18px;
  background-color: #fff;
  padding: 0 16px 16px 16px;
  width: 360px;
  position: absolute;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.filter-list-title {
  position: relative;
}

.filter-list-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  padding: 13px 30px 13px 10px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 2;
  background-color: #fff;
  margin-top: 10px;
}

.filter-list-drop input {
  margin-right: 13px;
  position: relative;
}

.filter-list-drop-size input[type="radio"]::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: white;
  border: 1px solid #ebebeb;
}

.filter-list-drop-size input[type="radio"]:checked::after {
  content: url("../images/check-mark.svg");
  position: absolute;
  top: 65%;
  left: 65%;
  fill: #a4a4a4;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible;
}

details[open] {
  color: #f16d7f;
}

details[open] svg {
  fill: #f16d7f;
}

::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
}

.filter-subtitle {
  z-index: 3;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
  width: 335px;
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding: 20px 0 7px 15px;
}

.arrow-down {
  margin-left: 12px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pagination-nav {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 16px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 10px;
}

.pagination-link:nth-child(21) {
  margin-left: -12px;
}

.pagination-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pagination-link:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.pagination-list a {
  color: #c4c4c4;
  display: block;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.pagination-list a:hover {
  color: #f16d7f;
}

.pagination-link:not(:nth-child(n + 21)):nth-child(n + 8) {
  position: absolute;
  visibility: hidden;
}

.pagination-link:nth-child(7)::after {
  content: ".....";
  color: #c4c4c4;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 130px;
}

.product-block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 777px;
  background-color: #f7f7f7;
}

.product-block-img-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.product-block-img-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product-block-img-arrow:hover {
  background-color: #f16d7f;
  fill: #fff;
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.product-block-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eaeaea;
  margin-top: -65px;
  padding: 64px 0;
  background-color: white;
}

.product-block-desc-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56%;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}

.product-block-desc-text-title {
  color: #f16d7f;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
}

.product-block-desc-text-line {
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
  margin-bottom: 11px;
}

.product-block-desc-text-slogan {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #4d4d4d;
  margin-bottom: 47px;
}

.product-block-desc-text-paragraph {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
  margin-bottom: 30px;
}

.product-block-desc-text-price {
  color: #f16d7f;
  margin-bottom: 62px;
}

.product-block-desc-filter {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-block-desc-filter-list {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-bottom: 48px;
}

.product-block-desc-filter-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 23px;
}

.product-block-desc-filter-list-item svg {
  margin-left: 10px;
}

.product-block-desc-button-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 57px 15px 24px;
  background-color: transparent;
  border-color: #f16d7f;
  color: #f16d7f;
  fill: #f16d7f;
}

.product-block-desc-button-cart:hover {
  -webkit-animation: shadow-inset-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-inset-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.product-block-desc-button-cart span {
  margin-left: 23px;
}

.empty-block {
  height: 20px;
}

@-webkit-keyframes shadow-inset-lr {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(21, 204, 228, 0), inset 0 0 0 0 rgba(161, 26, 214, 0);
            box-shadow: inset 0 0 0 0 rgba(21, 204, 228, 0), inset 0 0 0 0 rgba(161, 26, 214, 0);
  }
  50% {
    -webkit-box-shadow: inset -6px 0 14px -6px rgba(214, 211, 26, 0.5), inset 6px 0 14px -6px rgba(21, 228, 21, 0.664);
            box-shadow: inset -6px 0 14px -6px rgba(214, 211, 26, 0.5), inset 6px 0 14px -6px rgba(21, 228, 21, 0.664);
  }
  100% {
    -webkit-box-shadow: inset -6px 0 14px -3px rgba(161, 26, 214, 0.5), inset 6px 0 14px -3px rgba(21, 204, 228, 0.664);
            box-shadow: inset -6px 0 14px -3px rgba(161, 26, 214, 0.5), inset 6px 0 14px -3px rgba(21, 204, 228, 0.664);
  }
}

@keyframes shadow-inset-lr {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(21, 204, 228, 0), inset 0 0 0 0 rgba(161, 26, 214, 0);
            box-shadow: inset 0 0 0 0 rgba(21, 204, 228, 0), inset 0 0 0 0 rgba(161, 26, 214, 0);
  }
  50% {
    -webkit-box-shadow: inset -6px 0 14px -6px rgba(214, 211, 26, 0.5), inset 6px 0 14px -6px rgba(21, 228, 21, 0.664);
            box-shadow: inset -6px 0 14px -6px rgba(214, 211, 26, 0.5), inset 6px 0 14px -6px rgba(21, 228, 21, 0.664);
  }
  100% {
    -webkit-box-shadow: inset -6px 0 14px -3px rgba(161, 26, 214, 0.5), inset 6px 0 14px -3px rgba(21, 204, 228, 0.664);
            box-shadow: inset -6px 0 14px -3px rgba(161, 26, 214, 0.5), inset 6px 0 14px -3px rgba(21, 204, 228, 0.664);
  }
}

.inner-title {
  background: #f8f3f4;
  padding: 60px 0;
}

.inner-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 96px;
  margin-bottom: 128px;
}

.cart-block-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.cart-block-goods-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  height: 306px;
  width: 652px;
}

.cart-block-goods-card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 306px;
  width: 262px;
  background-color: #f3eeef;
}

.cart-block-goods-card-desc {
  margin-left: 32px;
  padding-top: 33px;
  padding-bottom: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-block-goods-card-desc-title {
  text-align: left;
  margin-bottom: 37px;
}

.cart-block-goods-card-desc-list {
  list-style: none;
  margin-left: 30px;
  color: #575757;
}

.cart-block-goods-card-desc-list-item input {
  outline: none;
  padding-left: 13px;
}

.cart-block-goods-card-desc-list-item input[value] {
  color: #656565;
}

.cart-block-goods-card-cross {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 129px;
  margin-top: 25px;
}

.cart-block-goods-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 72px;
}

.cart-block-goods-buttons-btn {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  padding: 16px 39px;
  border: 1px solid #a4a4a4;
  cursor: pointer;
  -webkit-transition: background-color ease 0.3s, outline-offset ease-in-out 0.3s;
  transition: background-color ease 0.3s, outline-offset ease-in-out 0.3s;
}

.cart-block-goods-buttons-btn:hover {
  background-color: #222222;
  -webkit-box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.3);
          box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.3);
  color: #ffff;
  outline-offset: -7px;
  outline: 1px dashed #fff;
}

.cart-block-goods-buttons-btn:hover a {
  color: #ffff;
}

.quantity-box {
  text-align: center;
  line-height: 22px;
  display: inline-block;
  height: 25px;
  width: 44px;
  border: 1px solid #eaeaea;
}

.img-good {
  height: 306px;
}

.shipping-block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 20px;
}

.shipping-block-form-input {
  width: 360px;
  padding: 14px 16px;
  margin-bottom: 22px;
}

.shipping-block-form input:first-of-type {
  margin-top: 20px;
}

.shipping-block-form input:first-of-type::-webkit-input-placeholder {
  color: #b1b1b1;
}

.shipping-block-form input:first-of-type:-ms-input-placeholder {
  color: #b1b1b1;
}

.shipping-block-form input:first-of-type::-ms-input-placeholder {
  color: #b1b1b1;
}

.shipping-block-form input:first-of-type::placeholder {
  color: #b1b1b1;
}

.shipping-block-form-submit {
  background-color: transparent;
  padding: 10px 14px;
  border: 1px solid #a4a4a4;
  color: #4a4a4a;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.shipping-block-form-submit:hover {
  background-color: #222222;
  color: #fff;
  border-radius: 10px 0 10px 0;
  outline: 2px solid darkgray;
}

.shipping-block-checkout-box {
  margin-top: 57px;
  padding: 39px 43px 42px 44px;
  background-color: #f5f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.shipping-block-checkout-box-subtitle {
  margin-bottom: 12px;
  color: #4a4a4a;
}

.shipping-block-checkout-box-button {
  background-color: #f16d7f;
  padding: 15px 40px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.shipping-block-checkout-box-button:hover {
  outline: 4px solid rgba(255, 47, 100, 0.3);
  -webkit-box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.3);
          box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.3);
}

.shipping-block-checkout-box hr {
  height: 1px;
  width: 275px;
  background-color: #e2e2e2;
  margin: 21px 0 17px 0;
}

.margin-price {
  margin-left: 20px;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
  margin-bottom: 96px;
  gap: 128px;
}

.registration-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.registration-form-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
  border: none;
}

.registration-form-fieldset input {
  padding: 12px 15px;
  width: 360px;
  outline: none;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.registration-form-fieldset input::-webkit-input-placeholder {
  color: #b1b1b1;
}

.registration-form-fieldset input:-ms-input-placeholder {
  color: #b1b1b1;
}

.registration-form-fieldset input::-ms-input-placeholder {
  color: #b1b1b1;
}

.registration-form-fieldset input::placeholder {
  color: #b1b1b1;
}

.registration-form legend {
  margin-bottom: 20px;
}

.registration-form-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0;
  gap: 20px;
}

.registration-form input[type="radio"] {
  position: relative;
  height: 13px;
  width: 13px;
  margin-right: 10px;
  background-color: darkslategray;
  vertical-align: middle;
  margin-top: -3px;
}

.registration-form input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #a4a4a4;
}

.registration-form input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #a4a4a4;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible;
}

.registration-form-par {
  color: #b1b1b1;
  margin-top: 15px;
}

.registration-form-button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  background-color: #f16d7f;
  padding: 16px 30px;
  color: #ffffff;
  border: none;
  margin-top: 40px;
  cursor: pointer;
  outline-offset: 0;
  outline: 1px solid #ffffff;
  -webkit-transition: outline-offset 0.3s ease;
  transition: outline-offset 0.3s ease;
}

.registration-form-button:hover {
  outline-offset: -5px;
}

.registration-form-button:hover svg {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.registration-form svg {
  margin-left: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  opacity: 0;
}

.registration-desc-title {
  margin-bottom: 22px;
}

.registration-desc-par {
  margin-bottom: 21px;
}

.registration-desc-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 16px;
  list-style: none;
}

.registration-desc-benefits li {
  background-image: url("../images/check-mark.png");
  background-position: left top 6px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.registration-desc-benefits svg {
  margin-right: 12px;
}
/*# sourceMappingURL=style.css.map */